
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
#mainDiv{
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    

}
.mainContext{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
} 

#txt{
    visibility: hidden;
    color: blueviolet;
}

legend{
    font-size: 15px;
    text-align: center;
    color:darkcyan;
}
/* fieldset>label{
    display: flex;
    justify-content: left;
    color: chocolate;
} */
#chTitle{
    display: flex;
    justify-content: left;
    align-items: left;
}
#listTitle{
    list-style-type: none;
}
#errorTxt{
    color: darkred;
}
#errorCh{
    text-align: center;
}
#btn{
    margin-top: 20px;
}